<h1>Bienvenido al Desafio 3!</h1>
<p>Haz click en los links para comenzar:</p>

<%= link_to 'Peliculas', movies_path, class: "btn btn-warning"  %>
<%= link_to 'Series', series_path, class: "btn btn-warning"  %>
<%= link_to 'Documentales', documentary_films_path, class: "btn btn-warning" %>
