<h1>Series</h1>

<p>Listado de Series</p>

<%= link_to 'Nueva Serie', series_new_path %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Sinopsis</th>
    <th>Director</th>
  </tr>
  <% @series.each do |serie| %>
    <tr>
      <td><%= serie.name %></td>
      <td><%= serie.synopsis %></td>
      <td><%= serie.director %></td>
    </tr>
  <% end %>
</table>
